main,header,footer,section,address, dd, div,dd, dt,ul,hr, menu, nav,article,
aside,hgroup,figure,figcaption,dialog { display: block }
body,p,h1,h2,h3,h4,h5,h6 ul, li {margin:0;padding: 0;}
input,textarea,button {-webkit-appearance: none;appearance: none;outline: none}
ul li {list-style: none;}
a {text-decoration: none;}
img {border: 0;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}
html, body {height: 100%!important;overflow: auto;font-family: source-Regular;}
input,button {outline: none!important;-webkit-appearance:none;}
input,textarea {-webkit-appearance: none;appearance: none;-webkit-user-select:auto; /*webkit浏览器*/
  user-select:auto;-o-user-select:auto;-ms-user-select:auto;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="password"] {font-family: Tahoma,Helvetica,Arial;}
body {-webkit-overflow-scrolling: touch;}
.body-hidden {overflow: hidden!important;height: 100%;}

.el-container {max-width: 1170px;margin: 0 auto;padding: 0 15px;}
.wallet-background {background: #fff;margin: 2.4rem 0 1.8rem;width: 100%;}
.wallet-content {height: 30.35rem;margin: 0 auto;box-sizing: border-box;}

.clearfix:after{content:‘’;display:block; height:0; line-height:0; visibility:hidden;}
.clearfix{*zoom:1;}

button:hover,.info-qrcode span:hover,.down-keystroe span:hover,.money-list span:last-child:hover,
.money-arr span:hover,.money-arr ul li:hover {cursor: pointer;}

main h2 {color: #42535B;font-size: 1.7rem;font-weight: 500;font-family: source-Medium;}
main .btn-active {background:linear-gradient(90deg,rgba(41,216,147,1) 0%,rgba(12,197,183,1) 100%)!important;}
main .error-border {border: 1px solid #EE1C39!important;}

main .tips_content {font-size: .6rem;color: #EE1C39;font-weight: 400;display: flex;padding-top: .6rem;}
main .tips_img {width: .8rem;height: .8rem;margin-right: .4rem;}

/* 操作成功遮罩层 */
.mask {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background:rgba(0,0,0,.1);z-index: 9999;display: flex;
  align-items: center;justify-content: center;}
.mask_cnt {background:rgba(255,255,255,1);border-radius: .5rem;padding: .8rem 1.2rem .6rem;
  box-shadow:0rem 0rem 1rem rgba(0,0,0,0.16);width: 22.4rem;}
.mask_cnt article {font-size: .75rem;color: #42535B;display: flex;}
.mask_cnt article img {vertical-align: middle;margin-right: .5rem;width: .8rem;height: .8rem;}
.mask_cnt a {display:block;word-wrap: break-word;color: #388ED9;font-size: .7rem;margin: .9rem 0 1rem;
  text-decoration: none;}
.mask_cnt button {width: 5.4rem;height: 1.8rem;color: #fff;font-size: 14px;border-radius: .5rem;
  background:linear-gradient(90deg,rgba(41,216,147,1) 0%,rgba(12,197,183,1) 100%);border: none;
  float: right;}

html {font-size: 20px}
@media (max-width: 767px) {
  /* .el-container {max-width: auto;margin: 0 auto;padding: 0;} */
  html { font-size: 17px;}
  
  .content-bg p {padding-top: 3.5rem!important;}
  .mask_cnt {width: 80%;}
}
@media (min-width: 768px) {
  /* .el-container {max-width: 750px;margin: 0 auto;padding: 0 9px;} */
  html { font-size: 18px;}
}
@media (min-width: 992px) {
  /* .el-container {max-width: 970px;margin: 0 auto;padding: 0 11px;} */
  html {font-size: 19px;}
}
@media (min-width: 1200px) {
  /* .el-container {max-width: 1170px;margin: 0 auto;padding: 0 15px;} */ 
  html {font-size: 20px;}
}