html {font-size: 20px}
@media (max-width: 767px) {
  /* .el-container {max-width: auto;margin: 0 auto;padding: 0;} */
  html { font-size: 17px;}
  /* main .content_bg p {padding: 2.5rem 0 0 2.2rem!important;}
  .info_content {padding: 4.6rem 1.3rem 0!important;}
  .info_content section:last-child,.info_content section:last-child figcaption {
    align-items: flex-start!important;
  }
  .info_content section:last-child figcaption p {margin: 1rem 0;}
  .info_content section:first-child ul li p {padding: .8rem 0;width: 100%!important;}

  .mask_cnt {width: 80%!important;margin-left: -46%!important;}

  .transfer_mask ul li {flex-direction: column;}
  .transfer_mask ul li span:last-child {padding-top: .8rem;} */
}
@media (min-width: 768px) {
  /* .el-container {max-width: 750px;margin: 0 auto;padding: 0 9px;} */
  html { font-size: 18px;}
}
@media (min-width: 992px) {
  /* .el-container {max-width: 970px;margin: 0 auto;padding: 0 11px;} */
  html {font-size: 19px;}
}
@media (min-width: 1200px) {
  /* .el-container {max-width: 1170px;margin: 0 auto;padding: 0 15px;} */
  html {font-size: 20px;}
}
.el-container {max-width: 1170px;margin: 0 auto;padding: 0 15px;}
input[type="submit"],
input[type="reset"],
input[type="button"],
button { -webkit-appearance: none; }
body.modal-open {
  position: fixed;
  width: 100%;
}

body,p,ul,li {margin: 0;padding: 0;}
ul li {list-style: none!important;}
input,button {outline: none!important;}

.clearfix:after{content:‘’;display:block; height:0; line-height:0; visibility:hidden;}
.clearfix{*zoom:1;}
main, nav, article {display: block;}
button:hover {cursor: pointer;}
.errorBorder {border: .05rem solid #EE1C39!important;}

main {background: #fff;width: 100%;}
main .mt1 {margin-top: 1rem;}
main h2 {color: #42535B;font-size: 1.7rem;font-weight: 500;margin: 7.4rem 0 3.1rem;}
main .content_list {width: 20.6rem;margin: 0 auto;max-width: 100%!important;}
main .create_cnt {width: 24.5rem;margin: 0 auto;max-width: 100%!important;}
main .content_bg {width: 100%;background: url('../images/public_bg.png') no-repeat;
  background-size: cover;height: 6.65rem;}
main .content_bg p {font-size: .6rem;color: #728087;font-weight: 400;padding: 4.45rem 0 0 2.2rem;}

/* 所有提示小图标 */
.tips_img {width: .8rem;height: .8rem;margin-right: .4rem;}
.tips_content {font-size: .6rem;color: #EE1C39;font-weight: 400;display: flex;line-height: 1.5;
  padding-top: .6rem;}
/* 所有按钮激活状态 */
.btn_active {background:linear-gradient(90deg,rgba(41,216,147,1) 0%,rgba(12,197,183,1) 100%)!important;}

/* 操作成功遮罩层 */
.mask {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background:rgba(0,0,0,.1);z-index: 1;}
.mask_cnt {position: fixed;left: 50%;top: 50%;background:rgba(255,255,255,1);z-index: 99;margin-top: -4.38rem;
  box-shadow:0rem 0rem 1rem rgba(0,0,0,0.16);border-radius: .5rem;margin-left: -12.4rem;padding: .8rem 1.2rem .6rem;
  width: 22.4rem;}
.mask_cnt article {font-size: .75rem;color: #42535B;display: flex;}
.mask_cnt article img {vertical-align: middle;margin-right: .5rem;width: .8rem;height: .8rem;}
.mask_cnt a {display:block;word-wrap: break-word;color: #388ED9;font-size: .7rem;margin: .9rem 0 1rem;
  text-decoration: none;}
.mask_cnt button {width: 5.4rem;height: 1.8rem;color: #fff;font-size: 14px;border-radius: .5rem;
  background:linear-gradient(90deg,rgba(41,216,147,1) 0%,rgba(12,197,183,1) 100%);border: none;
  float: right;}

/* 单选按钮组 */
.radio_arr {display: flex;height: 1.5rem;}
.radio_arr .radio_box:first-child {margin-right: 5rem;}
.radio_arr .radio_box { display: flex;position: relative;height: 1.5rem;font-size: .8rem;color: #91A2AA;
  align-items: center;justify-content: center;}
.radio_arr .radio_box .ipt_radio {display: inline-block;position: absolute;opacity: 0;width: 1.2rem;
  height: 1.2rem;cursor: pointer;left: 0px;outline: none;-webkit-appearance: none;margin-right: 16px}
.radio_arr .radio_box .radio {display: inline-block;width: 1.2rem;height: 1rem;cursor: pointer;
  background-size: cover;background-image: url('../images/radio.png');}
.radio_arr .radio_box .on {width: 1.2rem;height: 1rem;background-size: cover;
  background-image: url('../images/radios.png');}
.radio_arr .radio_box span {margin-left: .8rem;}

/* keyStore 与 私钥 */
.key_store p,.private_key p {font-size: .9rem;color: #42535B;font-weight: 500;padding: 1.45rem 0 .55rem;}
.key_store .key_store_btn {margin: 1.8rem 0 3.5rem;}
.private_key .private_key_btn {margin: 1.6rem 0 4.5rem;}

.private_key textarea {width: 18.5rem;color: #42535B;font-size: .7rem;padding: .8rem 1rem;
  outline: none;resize: none;border-radius: .5rem;}

.key_store {position: relative;}
.key_store input[type='file'] {width: 20.5rem;height: 2.4rem;position: absolute;top: 3rem;opacity: 0;
  max-width: 100%!important;}
.key_store section {width: 20.5rem;height: 2.4rem;border: .05rem solid rgba(145,162,170,1);text-align: center;
  border-radius: .5rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 2.4rem;
  color: #42535B;font-size: .7rem;font-weight: 400;max-width: 100%!important;}
.key_store section:hover,.key_store input[type='file']:hover {cursor: pointer;}
