@import "../styless/public";

body {
  -webkit-overflow-scrolling: touch;
}

.body-hidden {
  overflow: hidden !important;
  height: 100%;
}

.el-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wallet-background {
  background: #fff;
  margin: 2.4rem 0 1.8rem;
  width: 100%;
}

.wallet-content {
  height: 30.35rem;
  margin: 0 auto;
  box-sizing: border-box;
}

nav ul li:hover,
button:hover,
.info-qrcode span:hover,
.down-keystroe span:hover,
.money-list span:last-child:hover,
.money-arr span:hover,
.money-arr ul li:hover {
  cursor: pointer;
}

main {
  h2 {
    color: $colorTips;
    font-size: 1.7rem;
    font-weight: 500;
    //font-family: source-Medium;
  }

  .btn-active {
    background: linear-gradient(90deg, #29d893 0%, #0cc5b7 100%) !important;
  }

  .cantClick {
    pointer-events: none!important;
  }

  .error-border {
    @include border ($c: $colorRed !important, $d: bor);
  }

  .tips_content {
    font-size: .6rem;
    color: $colorRed;
    font-weight: 400;
    display: flex;
    padding-top: .6rem;
  }

  .tips_img {
    width: .8rem;
    height: .8rem;
    margin-right: .4rem;
  }
}

.el-progress-bar {width: 94%;float: left;vertical-align: middle;}
.el-progress__text {display: none!important;} 


/* 操作成功遮罩层 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .1);
  z-index: 9999;
  @extend %flexCenter;
}

.mask_cnt {
  background: #fff;
  border-radius: .5rem;
  padding: .8rem 1.2rem .6rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .16);
  width: 22.4rem;

  article {
    font-size: .75rem;
    color: $colorTips;
    display: flex;

    img {
      vertical-align: middle;
      margin-right: .5rem;
      width: .8rem;
      height: .8rem;
    }
  }

  a {
    display: block;
    word-wrap: break-word;
    color: #388ED9;
    font-size: .7rem;
    margin: .9rem 0 1rem;
    text-decoration: none;
  }

  button {
    width: 5.4rem;
    height: 1.8rem;
    color: #fff;
    font-size: .7rem;
    border-radius: .5rem;
    background: linear-gradient(90deg, #29d893 0%, #0cc5b7 100%);
    border: none;
    float: right;
  }
}


.el-slider__runway {
  height: 2px;
}

.el-slider__bar {
  background-color: $colorGreen;
  height: 2px;
}

.el-slider__button {
  border-color: $colorGreen;
}

.el-slider__button-wrapper {
  width: 24px;
  height: 24px;
  top: -13px;
}

html {
  font-size: 20px
}

@media (max-width: 767px) {

  /* .el-container {max-width: auto;margin: 0 auto;padding: 0;} */
  html {
    font-size: 17px;
  }

  .content-bg p {
    padding-top: 3.5rem !important;
  }

  .mask_cnt {
    width: 80%;
  }

  /* 创建钱包 */
  .create-pages,.down-keystroe,.save-privateKey {
    width: 90% !important;
    h2 {
      padding-top: 5.4rem !important;
    }
  }
}

@media (min-width: 768px) {

  /* .el-container {max-width: 750px;margin: 0 auto;padding: 0 9px;} */
  html {
    font-size: 18px;
  }
}

@media (min-width: 992px) {

  /* .el-container {max-width: 970px;margin: 0 auto;padding: 0 11px;} */
  html {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {

  /* .el-container {max-width: 1170px;margin: 0 auto;padding: 0 15px;} */
  html {
    font-size: 20px;
  }
}
