main,header,footer,section,address, dd, div,dd, dt,ul,hr, menu, nav,article,
aside,hgroup,figure,figcaption,dialog { display: block }
body,p,h1,h2,h3,h4,h5,h6 ul, li {margin:0;padding: 0;}
input,textarea,button {-webkit-appearance: none;appearance: none;outline: none}
ul li {list-style: none;}
a {text-decoration: none;}
img {border: 0;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#989090;
  font-family: source-Light;
  font-size: .7rem;
}
html, body {height: 100%!important;overflow: auto;font-family: source-Regular;}
input,button {outline: none!important;-webkit-appearance:none;}
input,textarea {-webkit-appearance: none;appearance: none;-webkit-user-select:auto; /*webkit浏览器*/
  user-select:auto;-o-user-select:auto;-ms-user-select:auto;-webkit-tap-highlight-color: #000;
}
input[type="password"] {font-family: Tahoma,Helvetica,Arial;}
.clearfix:after{content:‘’;display:block; height:0; line-height:0; visibility:hidden;}
.clearfix{*zoom:1;}